.App {
  text-align: center;
  background: #ed8080;
  background: -webkit-radial-gradient(right, #ed8080, #ffffff);
  background: -moz-radial-gradient(right, #ed8080, #ffffff);
  background: radial-gradient(to left, #ed8080, #ffffff);
}

.header {
  height: 10vh;
  width: 100%;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.main {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1rem;
}

.operator-container {
  padding: 1rem;
}

.operator-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.operator-list-item {
  list-style: none;
}

.operator {
  padding: 0.5rem 1rem;
}
